/*
    자주 사용하는 디자인 코드를 모아놓은 파일
*/
@charset "UTF-8";

* {
    box-sizing: border-box;
   
    font-family: sans-serif;
}


/*
    컨테이너(Container)
    - 화면의 단위
    - 가운데 정렬되도록 구현
    - 내부에 행(row)을 배치하여 원하는 화면을 구성
*/
.container {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

  /* CSS */
    .center-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }





/*  색상 가져오기
    글자 색상과 관련된 클래스
    -아이콘에서도 사용 가능

*/

.red{color: #d63031;}
.blue{color: #4834d4;}
.yellow{color:#fdcb6e;}
.green{color:#6ab04c;}
.gray{color:#535c68;}
.black{color:black;}
.white{color:#FFF;}
.brown{color:#cd6133;}
.sky{color:#34ace0;}
.purple{color:#BEADFA;}
/*

        /*
    성공/실패에 대한 스타일 구현
*/
.success-feedback {
    color: #00b894;
    display: none;
}
.fail-feedback,
.fail2-feedback
{
    color: #d63031;
    display: none;
}
.success ~ .success-feedback {
    display: block;
}
.fail ~ .fail-feedback {    
    display: block;
}
.fail2 ~ .fail2-feedback {
    display: block;
}
.success {
    /* important는 우선순위를 최상위로 올린다 */
    border-color: #00b894 !important;
/*    background-image: url("/images/success.png");*/
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
    background-size: 1em;
}
.fail, 
.fail2
{
    border-color: #d63031 !important;
/*    background-image: url("/images/fail.png");*/
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
    background-size: 1em;
}