<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="businessJudge">

<!-- <insert id="createBusinessJudge">
    INSERT INTO business_judge (bus_judge_no, bus_id)
    VALUES (business_judge_seq.nextval, #{busId})
</insert> -->

</mapper>