<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace ="clock">
<insert id ="add">
	insert into clock(clock_no, clock_res_no, clock_select) 
		values(clock_seq.nextval, #{clockResNo}, #{clockSelect})
</insert>

<!-- <select id = "list" resultType="ClockDto">
</select> -->
</mapper>