<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    
    <mapper namespace = "customer">
    
    
    <!--  등록  -->
    <insert id="insert">
   		 insert into customer
    		(customer_id, customer_pw, customer_name, customer_email, customer_contact,
    	  	 customer_birth, customer_gender)
		 values (
			#{customerId}, #{customerPw}, #{customerName}, #{customerEmail},
			#{customerContact}, #{customerBirth}, #{customerGender}
    		)
    </insert>
    
    <!--  조회   -->
    <select id="list" resultType="CustomerDto">
    	select * from customer
    </select>
    
    <!-- 이용자 상세 정보 조회 -->
    <select id="detail" resultType="CustomerDto">
    	select * from customer where customer_id = #{customerId}
    </select>
    

        <!-- 이용자 정보 수정  -->
   	<update id="edit" parameterType="map">
    update customer
    <set> 
        <if test="customerDto.customerEmail != null">
            customer_email = #{customerDto.customerEmail},
        </if>
        
        <if test="customerDto.customerContact != null">
            customer_contact = #{customerDto.customerContact},
        </if>
        
    </set>
    where customer_id = #{customerId}
</update>

	
	
	<!--  비밀번호 변경   -->
	<update id="updateCustomerPw">
        update customer
        set customer_pw = #{changePw}, customer_change = sysdate
        where customer_id = #{customerId}
    </update>
	
	    <!-- 삭제 -->
   	 	<delete id="delete">
    	 	delete customer where customer_id = #{customerId}
    	</delete>
    
    
    
    
   
    
    

    </mapper>
    