<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    
<mapper namespace="hashtag">
	<!-- 해시태그 관리 -->
	<!-- 시퀀스 생성 -->
	<select id="sequence" resultType="int">
		select hashtag_seq.nextval from dual
	</select>
	
	<!-- 등록 -->
	<insert id="hashInsert">
		insert into hashtag (hash_no, hash_comment)
		values (#{hashNo}, #{hashComment})
	</insert>
	
	<!-- 전체 조회 복합구문으로 바꿔서 -->
	<select id="hashList" resultType="HashTagDto">
		select * from hasgtag;
	</select>
	
	<!-- 삭제 -->
	<delete id="hashDelete">
		delete hashtag where hash_no = #{hashNo}
	</delete>
	
	
	<!-- 매장별 -->
	<!-- 인서트 -->
	<insert id="rseHashInsert">
		insert into res_hashtag values (#{hashNo), #{resNo})
	</insert>
	
	<!-- 매장별 해시태그 삭제  -->
	<delete id="resHashDelete">
		delete hashtag where hash_no = #{hashNo}
	</delete>
	
	
	
	
	
	
	<!-- 조회 : search 할 때 나와야 하는 복합검색 구문 -->
	
	
</mapper>