<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <mapper namespace ="menu">
  
    <select id="sequence" resultType="int">
    	select menu_seq.nextval from dual
    </select>
  
<insert id="save">
    insert into menu(
        menu_no, res_no, menu_type_no, menu_name, menu_price, menu_content) 
    values(
        #{menuNo},
        #{resNo}, 
        #{menuTypeNo}, 
        #{menuName}, 
        #{menuPrice}, 
        #{menuContent}
    )
</insert>
    
<delete id="deleteByMenuNo">
    DELETE FROM menu WHERE menu_no = #{menuNo}
</delete>
  
  
  <select id="selectListByMenuTypeNo" resultType="MenuDto" >
  select * from menu where menu_type_no=#{menuTypeNo}
  </select>
    <!-- 
  <select id="menuListByResNo" resultType="MenuByResDto">
  SELECT 
    menu_no,
    menu_name,
    menu_price,
    menu_content, 
    res_name,
    menu_type_name,
    image_id
  FROM 
    restaurant_menu_with_images
  WHERE 
    res_no = #{resNo}
</select> -->
   
<!-- 메뉴와 이미지 정보 조회 -->
<select id="selectMenuWithImages" resultType="MenuWithImagesVO">
  SELECT
    m.menu_no,
    m.menu_name,
    m.menu_price,
    m.menu_content,
    mi.attach_no
  FROM
    menu m
    LEFT JOIN menu_images mi ON m.menu_no = mi.menu_no
  WHERE
    m.menu_type_no = #{menuTypeNo}
</select>


<!-- 메장별 메뉴 정보 조회 -->
<select id="selectMenuByRes" resultType="MenuWithImagesVO">
  SELECT
    m.menu_no,
    m.menu_name,
    m.menu_price,
    m.menu_content,
    mi.attach_no
  FROM
    menu m
    LEFT JOIN menu_images mi ON m.menu_no = mi.menu_no
  WHERE
    m.res_no = #{resNo}
</select>

   
   <!--  단일메뉴 조회-->
  <!-- <select id="menuByMenuNo" resultType="MenuWithImagesVO">
  )SELECT 
    m.menu_no,	
    m.menu_name,
    m.menu_price,
    m.menu_content,
    a.attach_name as menuImage
  FROM 
    menu m
  LEFT JOIN menu_images mi ON m.menu_no = mi.menu_no
  LEFT JOIN attach a ON mi.attach_no = a.attach_no
  WHERE 
    m.menu_no = #{menuNo}
</select> -->

<select id="findMenuImage" resultType="AttachDto">
	  	select*from attach where attach_no=(
	  	select attach_no from menu_images where menu_no=#{menuNo}
	  	)
	
</select>
    <!--  메뉴 수정 -->
 <update id="edit">
    update menu 
    <set> 
    <if test="menuDto.menuName != null">
        menu_name = #{menuDto.menuName},
	</if>
	<if test="menuDto.menuPrice != null">
	menu_price = #{menuDto.menuPrice},
	</if>
	<if test="menuDto.menuContent != null">
	menu_content = #{menuDto.menuContent}	
	</if>
	</set>
	where menu_no = #{menuNo}
</update>
    
   <!-- 메뉴 이미지 isnert --> 
    <insert id="insertMenuImage">
    insert into menu_images(menu_no, attach_no) values (#{menuNo}, #{attachNo})
</insert>
    
    </mapper>