<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <mapper namespace = "menuType">
    
    <!-- 등록 -->
<insert id="save">
  INSERT INTO menu_type(menu_type_no, menu_type_name, res_no)
  VALUES (menu_type_seq.nextval, #{menuTypeName}, (SELECT res_no FROM restaurant WHERE res_no = #{resNo}))
</insert>

<!-- 삭제 -->
<delete id="deleteByMenuType">
delete from menu_type where menu_type_no=#{menuTypeNo}
</delete>

<!-- 수정 -->
<update id="edit">
	update menu_type 
	<set>
	<if test="menuTypeDto.menuTypeName != null">
		menu_type_name =#{menuTypeDto.menuTypeName},
		</if>
	</set>
	 where menu_type_no =#{menuTypeNo}
</update>

<select id="selectListByResNo" resultType="MenuTypeDto">
    SELECT * FROM menu_type WHERE res_no = #{resNo} ORDER BY menu_type_no ASC
</select>
    </mapper>