<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    

<mapper namespace="notice">

	<!-- 시퀀스 등록 -->
	<select id="sequence" resultType="int">
		select notice_seq.nextval from dual
	</select>

	<!-- 등록 -->
	<select id="write" resultType="NoticeDto">
		insert into notice(
			notice_no, notice_writer, notice_title, notice_content
		)
		values (
			#{noticeNo}, #{noticeWriter}, #{noticeTitle}, #{noticeContent}
		)
	</select>
	
	
	<!-- 조회 -->
	<select id="list" resultType="NoticeDto">
		<!-- 검색 -->
		 <choose>
        <when test="search">
            <![CDATA[
                select * from (
                    select rownum rn, TMP.* from (
                        select * from notice
                        where instr(notice_title, #{keyword}) > 0
                        order by notice_no desc
                    ) TMP
                ) where rn between #{startRow} and #{finishRow}
            ]]>
        </when>
        <!-- 검색 없이 목록 -->
        <otherwise>
            <![CDATA[
                select * from (
                    select rownum rn, TMP.* from (
                        select * from notice
                        order by notice_no desc
                    ) TMP
                ) where rn between #{startRow} and #{finishRow}
            ]]>
        </otherwise>
	    </choose>
	</select>







	
	
	<!-- 상세 -->
	<select id="detail" resultType="NoticeDto">
		select * from notice where notice_no = #{noticeNo}
	</select>
	
	
	<!-- 삭제 -->
	<delete id="delete">
		delete notice where notice_no = #{noticeNo}
	</delete>
	
	
	<!-- 수정 -->
	<update id="change">
	    update notice
	    set
	        notice_title = #{noticeDto.noticeTitle},
	        notice_content = #{noticeDto.noticeContent}
	    where notice_no = #{noticeNo}
	</update>
	
	
	<!-- 카운트 -->
	<select id="count" resultType="NoticeDto">
		<!-- 검색일 때 -->
	    <choose>
	        <when test="keyword != null">
	            <![CDATA[
	                select count(*) from notice
	                where instr(notice_title, #{keyword}) > 0
	            ]]>
	        </when>
	        <!-- 검색이 아닐 때 -->
	        <otherwise>
	            <![CDATA[
	                select count(*) from notice
	            ]]>
	        </otherwise>
	    </choose>
	</select>
</mapper>