<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <mapper namespace ="restaurant">
    
    <!--  시퀀스 생성 -->
    <select id="sequence" resultType="int">
    	select restaurant_seq.nextval from dual
    </select>

	<!-- 사진 시퀀스 생성 -->    
    <select id="sequenceAttach" resultType="int">
    	select attach_seq.nextval from dual
    </select>

    <!-- 등록 -->
   <insert id="save">
  insert into restaurant
  (res_no, bus_id, res_region_no, res_reg_no, res_name, res_tel, res_open_time, res_post, res_addr1, res_addr2) 
  values(#{resNo}, #{busId}, #{resRegionNo}, #{resRegNo},
  #{resName}, #{resTel}, #{resOpenTime}, #{resPost}, 
  #{resAddr1}, #{resAddr2})
</insert>


    
    <!-- 삭제 -->
    <delete id="deleteByResNo">
    delete restaurant where res_no =#{resNo}
    </delete>
    
    <!-- 조회 -->
    <select id="find" resultType="RestaurantDto">
    select * from restaurant where res_no = #{resNo}
    </select>
    
    <!-- 매장 상세조회 -->
    <select id="resDetail" resultType="RestaurantDetailVO">
    select 
    r.res_no, r.res_name, r.res_tel, r.res_open_time,
    r.res_post, r.res_addr1, r.res_addr2,
<!--     r.res_post, r.res_addr1, r.res_addr2, r.res_notice, -->
    m.menu_name, m.menu_price, m.menu_content,
    re.review_writer, re.review_content, re.review_write_date, re.review_star_point 
    from restaurant r 
    left join menu m on r.res_no = m.res_no 
    left join review re on r.res_no = re.res_no 
    where r.res_no = #{resNo}
    </select>
    
    <!-- 정보 수정 (사업자번호 제외) -->
	<update id="editResInfo">
		UPDATE restaurant SET
		res_name = #{resName, jdbcType=VARCHAR},
		res_tel = #{resTel},
		res_post = #{resPost},
		res_addr1 = #{resAddr1},
		res_addr2 = #{resAddr2}
		WHERE res_no = #{resNo}
	</update>
	
	
    <!-- 이미지 삽입 -->
    <insert id="insertResImage">
        INSERT INTO res_images (attach_no, res_no)
        VALUES (#{attachNo}, #{resNo})
    </insert>

    <!-- 레스토랑별 이미지 조회 -->
    <select id="selectResImagesByResNo" resultType="ResImagesDto">
        SELECT * FROM res_images
        WHERE res_no = #{resNo}
    </select>

    <!-- 이미지 삭제 -->
    <delete id="deleteResImage">
        DELETE FROM res_images
        WHERE attach_no = #{attachNo}
    </delete>
</mapper>
	
	
   