<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace ="workday">

   <select id="sequence" resultType="int">
    	select workday_seq.nextval from dual
    </select>
    
<!-- 영업요일 추가 -->
	<insert id="insertWorkday">
	insert into workday(workday_no,workday_res_no, workday_name, not_workday) 
	values(#{workdayNo}, #{workdayResNo}, #{workdayName},#{notWorkday})	
	</insert>
	
	<delete id ="deleteWorkday">
	delete from workday where where workday_res_no=#{workdayResNo}
	</delete>
	
	<select id="findWorkday" resultType="WorkdayDto">
	select * from workday where workday_no=#{workdayNo}
		</select>
	
	<select id="findAllWorkday" resultType ="WorkdayDto">
	select * from workday where workday_res_no=#{workdayResNo}
	</select>
	
<update id="updateWorkday" parameterType="WorkdayDto">
    UPDATE workday
    SET not_workday = #{notWorkday}
    WHERE workday_no = #{workdayNo}
</update>
	
	</mapper>